/*Подключение шрифтов*/
@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes/TTLakes-Regular.eot");
  src: local("TT Lakes Regular"), local("TTLakes-Regular"),
    url("fonts/TTLakes/TTLakes-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes/TTLakes-Regular.woff") format("woff"),
    url("fonts/TTLakes/TTLakes-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes/TTLakes-Medium.eot");
  src: local("/fonts/TT Lakes Medium"), local("TTLakes-Medium"),
    url("fonts/TTLakes/TTLakes-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes/TTLakes-Medium.woff") format("woff"),
    url("fonts/TTLakes/TTLakes-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "TT Lakes";
  src: url("fonts/TTLakes/TTLakes-Bold.eot");
  src: local("TT Lakes Bold"), local("TTLakes-Bold"),
    url("fonts/TTLakes/TTLakes-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/TTLakes/TTLakes-Bold.woff") format("woff"),
    url("fonts/TTLakes/TTLakes-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.body {
  font-family: "TT Lakes", "Arial", sans-serif;
  font-size: 0.875rem;
  margin: 0;
  background-color: #f8f8f8;
}

/* Header */

.header {
  border-bottom: 1px solid #d9fff5;
  background-color: #ffffff;
}

.header--desktop {
  background-color: #f8f8f8;
  display: none;
}
.header__conainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18.5px 16px;
}

.header__item {
  content: "";
  min-width: 40px;
  min-height: 40px;
  background-repeat: no-repeat;
}

/* Левая часть меню*/

.header__left-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 11rem;
}

.header__item--burger {
  background-image: url("img/header/burger.svg");
}

.header__divider {
  background-color: #eaeaea;
  width: 2px;
  height: 32px;
}

.header.hidden {
  display: none;
}

/* Правая часть меню */

.header__right-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 9rem;
}

/* Скрытые кнопки меню */

.header__item--call {
  background-image: url("img/header/call.svg");
}

.header__item--chat {
  background-image: url("img/header/chat.svg");
}

.header__item--profile {
  background-image: url("img/header/profile.svg");
}

/* Видимые в mobile кнопки меню */

.header__right-side .header__divider {
  display: block;
}

.header__item--repair {
  background-image: url("img/header/repair.svg");
}

.header__item--check-status {
  background-image: url("img/header/checkstatus.svg");
}

/* Content */

.content {
  margin-bottom: 11px;
  background-color: #f8f8f8;
  padding: 24px 16px;
}

/* Menu */
.hidden {
  display: none;
}

.content {
  display: flex;
  flex-direction: column;
}
.content-menu__nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: y mandatory;
  padding: 0;
  background-color: #f8f8f8;
  list-style-type: none;
  white-space: nowrap;
  letter-spacing: -0.2px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content-menu__nav::-webkit-scrollbar {
  background-color: #f8f8f8;
}

.content-menu__nav::-moz-scroll .content-menu__title {
  margin: 0;
  margin-bottom: 24px;
}

.content-menu__title:before {
  content: "";
  position: absolute;
  left: 0px;
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.content-menu__item {
  padding: 8px 16px;
  font-size: 1.1429rem;
  letter-spacing: -0.2px;
  color: #7e7e82;
  border-radius: 6px;
  scroll-snap-align: start;
  transition: border 0.4s, background-color 0.4s;
  -webkit-transition: border 0.4s, background-color 0.4s;
  -o-transition: border 0.4s, background-color 0.4s;
  -moz-transition: border 0.4s, background-color 0.4s;
  -ms-transition: border 0.4s, background-color 0.4s;
}

.content-menu__item--active {
  background-color: #ffffff;
  border: 2px solid #b8ffec;
}

.content-menu__item:hover {
  background-color: #b4bbc5;
  border-color: #b4bbc5;
  color: #ffffff;
}

.content-menu__link {
  text-decoration: none;
  color: #7e7e82;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
  transition: color 0.4s;
}

.content-menu__link:hover {
  color: #ffffff;
}

/* Article */

.article {
  display: flex;
  flex-direction: column;
  padding: 0;
  color: #1b1c21;
  line-height: 18px;
}

.article__text {
  margin-top: 10px;
  margin-bottom: 0;
}

.article__text--hidden-start {
  display: none;
}

.article__text--hidden-end {
  display: none;
}

.article__image {
  width: 100%;
}

.article__image--photo {
  max-width: 100%;
  max-height: 100%;
}

.article__button {
  display: flex;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  align-items: center;
  font-family: inherit;
  border: none;
  margin: 10px 0px;
  padding-left: 16px;
  margin-left: 0.5714rem;
  background: #f8f8f8 url("img/main/article/icon.svg") left center no-repeat;
  line-height: 24px;
  font-size: 1.1429rem;
  transition: color 0.4s;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  -moz-transition: color 0.4s;
  -ms-transition: color 0.4s;
}

.article__button:hover {
  color: #7e7e82;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1119.99px) {
  .header__left-side {
    min-width: 23%;
  }

  .header__divider {
    display: block;
  }

  .header__right-side {
    min-width: 290px;
  }

  .header .hidden {
    display: block;
  }

  .content {
    padding-left: 24px;
  }

  .article {
    flex-direction: row;
    justify-content: flex-start;

    line-height: 20px;
  }

  .article__text {
    margin-top: 0;
    margin-right: 48px;
  }

  .article__text--visible {
    margin-top: 0;
  }

  .article__text--hidden-start {
    display: inline;
  }
  .article__image--photo {
    border-radius: 2%;
  }
}

@media screen and (min-width: 1120px) {
  .header {
    display: none;
  }

  /* Desktop header */

  .header--desktop {
    display: block;
    padding: 42px 32px 10px 32px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__container--desktop {
    display: flex;
    justify-content: space-between;
    max-height: 40px;
    align-items: center;
  }

  .header__title-text::before {
    content: "";
    position: absolute;
    left: 0px;
    width: 3px;
    height: 40px;
    background-color: #41f6d7;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
  }

  .header__buttons--desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 373px;
    font-size: 1.143em;
  }

  .header__link {
    text-decoration: none;
    color: #1b1c21;
    align-content: center;
    margin: auto;
    padding-right: 10px;
  }

  .header__item--repair {
    margin-right: 32px;
  }

  /* Content */

  .content {
    padding-top: 0;
    padding-left: 32px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }

  .content-menu__title {
    display: none;
  }

  .content-menu__nav {
    flex-wrap: wrap;
    margin: 0;
  }

  .content-menu__item--active {
    background-color: inherit;
    border: none;
  }

  .content-menu__item:first-child {
    display: block;
    background-color: #ffffff;
    border: 2px solid #b8ffec;
  }
  .content-menu__item:first-child:hover {
    background-color: #b4bbc5;
    border-color: #b4bbc5;
    color: #ffffff;
  }

  .article {
    flex-direction: row;
    justify-content: flex-start;
    line-height: 20px;
  }

  .article__text {
    margin-right: 36px;
  }

  .article__text--hidden-start {
    display: inline;
  }

  .article__text--hidden-end {
    display: inline;
  }

  .article__image--photo {
    border-radius: 2%;
    min-width: 530px;
  }

  .article__hidden-text--start {
    display: inline;
  }

  .article__hidden-text--end {
    display: inline;
  }
}
